.sliderImage{
    object-fit: fill;
    /* width: 100vw !important; */
    text-align: center;
    opacity: .7;
}


.sliderHeading{
    border-radius: 16px;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px 0px;
    opacity: .7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(39, 36, 36);
    color: white;
}
.sliderDescription{
    border-radius: 16px;    
    background-color: rgb(39, 36, 36);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    opacity: .7;
}


@media (max-width:991px){
    .sliderHeading{
        position: absolute;
        top: -34px;
        left: 0px;
        z-index: 55;
        font-size: 12px;
        font-weight: 600;
        width: 100%;
    }
    .sliderDescription{
        position: absolute;
        top: 4px;
        left: 0px;
        z-index: 55;
        font-size: 10px;
        font-weight: 600;
        width: 100%;
    }

 }