.selectStudent > thead > tr > th {
    background-color: rgb(212, 124, 212);
    border: 1px solid purple;
    text-align: center;
}
.selectStudent > tbody > tr > td {
    border: 1px solid purple;
    text-align: center;
}
.inputCheckbox{
    height: 18px;
    width: 20px;
    background-color: red;
    cursor: pointer;

}
.selectDownArrow{
    position: absolute;
    right: 24px;
    top: 4px;
    font-size: 28px;
}
