.selectStudent > thead > tr > th {
    background-color: rgb(212, 124, 212);
    border: 1px solid purple;
    text-align: center;
}
.selectStudent > tbody > tr > td {
    border: 1px solid purple;
    text-align: center;
}