.headerTitle{
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.headerTitle:hover{
    font-size: 17px;
    color: rgb(217, 172, 37);
}