.navLinksCon{
    text-decoration: none;
    font-size: 20px;
    padding-top: 4.3rem;
    padding-bottom: 2.3rem;
    padding-right: 30px;
    font-weight: 500;
    color: #000000;
    opacity: 1 !important;
    font-family: sans-serif;

}
.navLinksCon:hover{
    color: rgb(145, 23, 145);
}
@media screen and (max-width:480px) {
    .navbar-nav{
        display: flex;
        flex-direction: column;
    }
    
}

