.tableBoxContainer{
    display: flex;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.tableBox{
    
    height: 100px;
    width: 100px;
    background-color: purple;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tableBox3{
    
    height: 100px;
    width: 100px;
    background-color: rgb(174, 174, 104);
    border: 1px solid white;
    color: purple;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tableBox2{
    height: 100px;
    width: 130px;
    background-color: rgb(174, 174, 104);
    color: purple;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}